In [1]:
import numpy as np
import pandas as pd
import glob
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

from sklearn.linear_model import LinearRegression

from sklearn.metrics import r2_score

In [2]:
data = pd.read_csv('jodhpur_all.csv')

In [3]:
data

,Date/Time,[1] Dew Point Temperature (C),[1] Diffuse Horizontal Radiation (Wh/m2),[1] Direct Normal Radiation (Wh/m2),[1] Dry Bulb Temperature (C),[1] Relative Humidity (),[1] Total Sky Cover (tenths),[1] Wind Direction,[1] Wind Speed (m/s),[1] Surface Outside Face Temperature,Lats,Longs
0,Year 1 Jan 01 01:00,4.6,0,0,11.6,62,4,180,0.0,17.172166,26.263863,73.008957
1,Year 1 Jan 01 02:00,4.0,0,0,10.9,63,4,180,0.0,15.300956,26.263863,73.008957
2,Year 1 Jan 01 03:00,3.9,0,0,10.6,63,4,180,0.0,14.501837,26.263863,73.008957
3,Year 1 Jan 01 04:00,4.1,0,0,10.1,67,3,180,0.0,14.086051,26.263863,73.008957
4,Year 1 Jan 01 05:00,4.4,0,0,9.6,70,2,180,0.0,14.409571,26.263863,73.008957
...,...,...,...,...,...,...,...,...,...,...,...,...
8754,Year 1 Dec 31 19:00,9.0,0,0,16.0,63,8,320,2.6,21.852239,26.263863,73.008957
8755,Year 1 Dec 31 20:00,8.7,0,0,15.0,66,7,320,1.6,19.837204,26.263863,73.008957
8756,Year 1 Dec 31 21:00,9.1,0,0,13.4,75,6,320,0.5,18.258820,26.263863,73.008957
8757,Year 1 Dec 31 22:00,8.6,0,0,12.5,77,6,320,0.0,17.042622,26.263863,73.008957
8758,Year 1 Dec 31 23:00,7.8,0,0,11.5,78,6,320,0.0,16.249069,26.263863,73.008957

In [4]:
data['Date/Time'] = pd.to_datetime(data['Date/Time'].str.replace('Year 1 ', '2002'), format="%Y%b %d %H:%M")

In [5]:
%pip install ephem

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: ephem in c:\users\amresh gupta\appdata\roaming\python\python39\site-packages (4.1.5)
Note: you may need to restart the kernel to use updated packages.

In [6]:
lstm = 15 * 5.5  # Local Standard Time Meridian for India

# Calculate the day of the year from the 'Date/Time' column
data['Date/Time'] = pd.to_datetime(data['Date/Time'])
data['day'] = data['Date/Time'].dt.dayofyear

# Calculate Equation of Time (EoT)
B = 360 / 365 * (data['day'] - 81)
eot = 9.87 * np.sin(2 * np.radians(B)) - 7.53 * np.cos(np.radians(B)) - 1.5 * np.sin(np.radians(B))

# Calculate Time Correction (TC)
tc = 4 * (data['Longs'] - lstm) + eot

# Convert 'Date/Time' to local time (Local Standard Time, LST)
data['Local Time'] = data['Date/Time'] + pd.to_timedelta(tc, unit='m')

# Calculate Hour Angle (HRA)
data['hra'] = 15 * (data['Local Time'].dt.hour + data['Local Time'].dt.minute / 60 - 12)

In [7]:
 data['Orientation']=90

In [8]:

# Assuming data['day'], data['Lats'], data['hra'], and data['[1] Site Solar Altitude Angle  (deg)'] are available

# Calculate declination
day_angle = 360 * (284 + data['day']) / 365
data['declination'] = 23.45 * np.sin(np.radians(day_angle))

# Assuming data['Lats'] represents latitude
latitude = data['Lats']

# Assuming data['hra'] represents hour angle
hour_angle = data['hra']

# Calculate solar zenith angle

In [9]:
def solar_altitude_angle(LAT, delta, H):

    # Convert degrees to radians
    LAT_rad = np.radians(LAT)
    delta_rad = np.radians(delta)
    H_rad = np.radians(H)
    
    # Calculate solar elevation angle
    beta_rad = np.arcsin(np.sin(LAT_rad) * np.sin(delta_rad) + np.cos(LAT_rad) * np.cos(delta_rad) * np.cos(H_rad))
    beta_deg = np.degrees(beta_rad)
    
    return beta_deg
LAT = data['Lats']
delta = data['declination']
H = data['hra']
data['Solar Altitde Angle'] = solar_altitude_angle(LAT, delta, H)
data['solar_zenith'] = 90 - data['Solar Altitde Angle']

In [10]:


# Define a function to calculate solar azimuth angle for a single row
def calculate_single_solar_azimuth(local_hour, declination, latitude, hra):
    if local_hour < 12:
        return np.degrees(np.arccos((np.sin(np.radians(declination)) * np.cos(np.radians(latitude)) - np.cos(np.radians(declination)) * np.sin(np.radians(latitude)) * np.cos(np.radians(hra)))))
    else:
        return 360 - np.degrees(np.arccos((np.sin(np.radians(declination)) * np.cos(np.radians(latitude)) - np.cos(np.radians(declination)) * np.sin(np.radians(latitude)) * np.cos(np.radians(hra)))))

# Vectorized calculation of solar azimuth angle
data['solar_azimuth'] = np.where(data['Local Time'].dt.hour < 12,
                                  np.degrees(np.arccos((np.sin(np.radians(data['declination'])) * np.cos(np.radians(latitude)) - np.cos(np.radians(data['declination'])) * np.sin(np.radians(latitude)) * np.cos(np.radians(data['hra']))))),
                                  360 - np.degrees(np.arccos((np.sin(np.radians(data['declination'])) * np.cos(np.radians(latitude)) - np.cos(np.radians(data['declination'])) * np.sin(np.radians(latitude)) * np.cos(np.radians(data['hra']))))))
data['Hour'] = data['Date/Time'].dt.hour

In [11]:
data['AOI'] = np.degrees(np.arccos(np.sin(np.radians(data['solar_zenith'])) * np.cos(np.radians(data['solar_azimuth']-data['Orientation']))))

In [12]:
def calculate_IRH(Tdb_C, Tdp_C):
    # Convert temperatures to Kelvin
    Tdb_K = Tdb_C + 273.15  # Drybulb temperature in Kelvin
    Tdp_K = Tdp_C + 273.15  # Dewpoint temperature in Kelvin
    
    # Calculate sky emissivity (Ïµsky) using the correlation from Clark & Allen (1978)
    Ïµsky_clear = 0.787 + 0.764 * np.log(Tdp_K / 273)
    
    # Stefan-Boltzmann constant in W/(m^2 K^4)
    sigma = 5.6697e-8
    
    # Calculate the rate of infrared radiation emitted from the sky (IRH)
    IRH = Ïµsky_clear * sigma * Tdb_K**4
    return IRH

# Example usage:
Tdb_data_C = data['[1] Dry Bulb Temperature (C)']  # Drybulb temperature in Celsius
Tdp_data_C = data['[1] Dew Point Temperature (C)']  # Dewpoint temperature in Celsius

IRH_data = calculate_IRH(Tdb_data_C, Tdp_data_C)
def calculate_Tsky(IRH):
    # Stefan-Boltzmann constant in W/(m^2 K^4)
    sigma = 5.6697e-8
    
    # Calculate sky temperature (Tsky) using the formula
    Tsky = (IRH / sigma)**0.25 - 273.15
    return Tsky

# Example usage:
 # Rate of infrared radiation emitted from the sky in W/m^2

Tsky_data = calculate_Tsky(IRH_data)
data['Tsky'] = Tsky_data

In [13]:
data['Calc_total_E']=data['[1] Direct Normal Radiation (Wh/m2)']*np.cos(np.radians(data['AOI']))+data['[1] Diffuse Horizontal Radiation (Wh/m2)']*0.5
data['Hour'] = data['Date/Time'].dt.hour

In [14]:
data['H']=12.49+4.065*data['[1] Wind Speed (m/s)']+0.028*data['[1] Wind Speed (m/s)']**2

In [15]:
data['E/H']=data['Calc_total_E']/data['H']
data['t_longwave']=(data['[1] Dry Bulb Temperature (C)']-data['Tsky'])/data['H']
data

,Date/Time,[1] Dew Point Temperature (C),[1] Diffuse Horizontal Radiation (Wh/m2),[1] Direct Normal Radiation (Wh/m2),[1] Dry Bulb Temperature (C),[1] Relative Humidity (),[1] Total Sky Cover (tenths),[1] Wind Direction,[1] Wind Speed (m/s),[1] Surface Outside Face Temperature,...,Solar Altitde Angle,solar_zenith,solar_azimuth,Hour,AOI,Tsky,Calc_total_E,H,E/H,t_longwave
0,2002-01-01 01:00:00,4.6,0,0,11.6,62,4,180,0.0,17.172166,...,-84.775162,174.775162,86.819825,1,84.783231,-3.835038,0.0,12.49000,0.0,1.235792
1,2002-01-01 02:00:00,4.0,0,0,10.9,63,4,180,0.0,15.300956,...,-71.997941,161.997941,88.087694,2,72.008310,-4.635878,0.0,12.49000,0.0,1.243865
2,2002-01-01 03:00:00,3.9,0,0,10.6,63,4,180,0.0,14.501837,...,-58.563879,148.563879,90.853778,3,58.567767,-4.942627,0.0,12.49000,0.0,1.244406
3,2002-01-01 04:00:00,4.1,0,0,10.1,67,3,180,0.0,14.086051,...,-45.157006,135.157006,94.936174,4,45.367959,-5.369022,0.0,12.49000,0.0,1.238513
4,2002-01-01 05:00:00,4.4,0,0,9.6,70,2,180,0.0,14.409571,...,-31.892683,121.892683,100.091318,5,33.289881,-5.772619,0.0,12.49000,0.0,1.230794
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8754,2002-12-31 19:00:00,9.0,0,0,16.0,63,8,320,2.6,21.852239,...,-13.782463,103.782463,251.355618,19,156.961093,1.346734,0.0,23.24828,0.0,0.630295
8755,2002-12-31 20:00:00,8.7,0,0,15.0,66,7,320,1.6,19.837204,...,-26.672205,116.672205,257.540513,20,150.755647,0.328950,0.0,19.06568,0.0,0.769500
8756,2002-12-31 21:00:00,9.1,0,0,13.4,75,6,320,0.5,18.258820,...,-39.849158,129.849158,263.046415,21,139.648532,-1.098839,0.0,14.52950,0.0,0.997890
8757,2002-12-31 22:00:00,8.6,0,0,12.5,77,6,320,0.0,17.042622,...,-53.207413,143.207413,267.587479,22,126.754616,-2.066413,0.0,12.49000,0.0,1.166246
8758,2002-12-31 23:00:00,7.8,0,0,11.5,78,6,320,0.0,16.249069,...,-66.649850,156.649850,270.904325,23,113.347069,-3.196477,0.0,12.49000,0.0,1.176660

In [16]:


# Extract month, day, and hour into separate columns
# data['Month'] = data['Date/Time'].dt.month
# data['Day'] = data['Date/Time'].dt.day
import numpy as np

# Assuming data is your DataFrame
data['Windward'] = np.where(data['[1] Wind Speed (m/s)'] - (data['Orientation']+180) >= 0, 1, 0.5)
# data['W_sin'] = data['[1] Site Wind Speed  (m/s)']*np.sin(np.radians((data['[1] Site Wind Direction  (deg)'] - data['Orientation'] )))
# data['W_cos'] = data['[1] Site Wind Speed  (m/s)']*np.cos(np.radians((data['[1] Site Wind Direction  (deg)'] - data['Orientation'] )))

# data['[1] Site Wind Speed  (m/s)2']=data['[1] Site Wind Speed  (m/s)']**(1/2)

In [17]:
data.columns

Index(['Date/Time', '[1] Dew Point Temperature (C)',
       '[1] Diffuse Horizontal Radiation (Wh/m2)',
       '[1] Direct Normal Radiation (Wh/m2)', '[1] Dry Bulb Temperature (C)',
       '[1] Relative Humidity ()', '[1] Total Sky Cover (tenths)',
       '[1] Wind Direction ', '[1] Wind Speed (m/s)',
       '[1] Surface Outside Face Temperature ', 'Lats', 'Longs', 'day',
       'Local Time', 'hra', 'Orientation', 'declination',
       'Solar Altitde Angle', 'solar_zenith', 'solar_azimuth', 'Hour', 'AOI',
       'Tsky', 'Calc_total_E', 'H', 'E/H', 't_longwave', 'Windward'],
      dtype='object')

In [18]:
X = data.drop(['Date/Time',
       
       '[1] Wind Direction ',  'Calc_total_E', 
                   'H', 'day', 'Hour',
       '[1] Surface Outside Face Temperature ', 'Lats', 'Longs',
       'Local Time', 'hra', 'Orientation', 'declination',
       'Solar Altitde Angle', 'solar_zenith', 'solar_azimuth', 'Tsky'], axis = 1)
Y1 = data['[1] Surface Outside Face Temperature ']

X.columns

Index(['[1] Dew Point Temperature (C)',
       '[1] Diffuse Horizontal Radiation (Wh/m2)',
       '[1] Direct Normal Radiation (Wh/m2)', '[1] Dry Bulb Temperature (C)',
       '[1] Relative Humidity ()', '[1] Total Sky Cover (tenths)',
       '[1] Wind Speed (m/s)', 'AOI', 'E/H', 't_longwave', 'Windward'],
      dtype='object')

In [19]:
# List containing the desired column order
desired_columns = ['[1] Dew Point Temperature (C)',
                    '[1] Wind Speed (m/s)',
                   '[1] Dry Bulb Temperature (C)',
                   '[1] Relative Humidity ()', 
                   '[1] Direct Normal Radiation (Wh/m2)',
                   '[1] Total Sky Cover (tenths)',
                   '[1] Diffuse Horizontal Radiation (Wh/m2)',
                   'AOI', 'E/H', 't_longwave','Windward'
                    
                   
                   
                   
                   
                   
                  
                   
                   
                   ]

# Reallocate columns according to the desired order
X = X.reindex(columns=desired_columns)

In [20]:
# Dictionary mapping old column names to new column names
new_column_names = {
    '[1] Dew Point Temperature (C)':'[1] Site Outdoor Air Dewpoint Temperature  (C)',
     '[1] Wind Speed (m/s)':'[1] Site Wind Speed  (m/s)',
    '[1] Dry Bulb Temperature (C)':'[1] Dry Bulb Temperature (C)',
    '[1] Relative Humidity ()':'[1] Relative Humidity ()',
     '[1] Direct Normal Radiation (Wh/m2)':'DNR',
     '[1] Total Sky Cover (tenths)':'SC',
    '[1] Diffuse Horizontal Radiation (Wh/m2)':'hdi',
    
    'AOI': 'AOI',
    'E/H': 'E/H',
    't_longwave': 't_longwave',
    
    'Windward': 'Windward'
}

# Rename the columns using the dictionary
X.rename(columns=new_column_names, inplace=True)

# Print the DataFrame to verify the changes
X.head()

,[1] Site Outdoor Air Dewpoint Temperature (C),[1] Site Wind Speed (m/s),[1] Dry Bulb Temperature (C),[1] Relative Humidity (),DNR,SC,hdi,AOI,E/H,t_longwave,Windward
0,4.6,0.0,11.6,62,0,4,0,84.783231,0.0,1.235792,0.5
1,4.0,0.0,10.9,63,0,4,0,72.008310,0.0,1.243865,0.5
2,3.9,0.0,10.6,63,0,4,0,58.567767,0.0,1.244406,0.5
3,4.1,0.0,10.1,67,0,3,0,45.367959,0.0,1.238513,0.5
4,4.4,0.0,9.6,70,0,2,0,33.289881,0.0,1.230794,0.5

In [21]:
X.columns

Index(['[1] Site Outdoor Air Dewpoint Temperature  (C)',
       '[1] Site Wind Speed  (m/s)', '[1] Dry Bulb Temperature (C)',
       '[1] Relative Humidity ()', 'DNR', 'SC', 'hdi', 'AOI', 'E/H',
       't_longwave', 'Windward'],
      dtype='object')

In [23]:
from joblib import load

# Load the pipeline from the pickle file
pipeline_loaded = load('pipeline_model.pkl')

In [24]:
predictions = pipeline_loaded.predict(X)

In [25]:
from sklearn.metrics import r2_score

# Assuming Y contains the actual target values and predictions contains the predicted values
r_squared = r2_score(Y1, predictions)

print("R-squared:", r_squared)

R-squared: 0.49009187596056514